# Node
node_modules/

# Next.js / build
.next/
.next/cache/
out/
dist/
build/

# Env
.env.local
.env.*.local

# Logs
npm-debug.log*
pnpm-debug.log*
*.log

# TypeScript
*.tsbuildinfo

# Tests / coverage
coverage/

# Caches
.cache/
.parcel-cache/
.turbo/
.vercel/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db